.favorites__section-text {
  text-align: center;
  font-weight: bold;
  color: #95f695;
  margin-top: 40vh;
  font-size: 50px;
}

.product-item__choose-star-gold.active {
  font-size: 30px;
  position: relative;
  margin: 0;
  display: inline-block;
}

.product-item__choose-star-gold.active:hover{
  color:red;
}
