.favorites__section-text {
  text-align: center;
  font-weight: bold;
  color: #95f695;
  height: 85vh;
}

.product-item__choose-star-gold.active {
  font-size: 30px;
  position: relative;
  margin: 0;
}
.product-item__choose-star-gold.active:hover{
  color:orange;
}
.product-item__choose-star-gold.active:hover::after{
  content: " Удалить ";
  position: absolute;
  //padding-top: 10px;
  top: 8px;
  left: 180px;
  color: #000000;
  display: block;
  font-size: 15px;
}
