
.header {
  width: 100%;
  height: 50px;
  background-color: #504e4e;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;


  &-title {
    font-size: 30px;
    color: white;
    z-index: 3;
    text-transform: uppercase;
    margin-left: 50px;
  }

  &-title:hover {
    color: #95f695;
    cursor: pointer;
  }

  &-cart {
    font-size: 30px;
    color: #95f695;
    margin-right: 50px;
  }

  &-cart:hover {
    font-size: 32px;
    color: red;
    cursor: pointer;
  }
}

.menu-link{
  color: #95f695;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;

}

.active{

  color:white;
  font-size:30px;
}