.App {
  width: 100%;
}

.header {
  width: 100%;
  height: 50px;
  background-color: rgba(49, 49, 49, 0.7);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-size: 50px;
    color: white;
    z-index: 3;
    text-transform: uppercase;
    margin-left: 50px;
  }

  &-title:hover {
    color: #95f695;
    cursor: pointer;
  }

  &-cart {
    font-size: 30px;
    color: #95f695;
    margin-right: 50px;
  }

  &-cart:hover {
    font-size: 32px;
    color: red;
    cursor: pointer;
  }
}

