.footer{
  position: fixed;
  top:calc(100vh - 50px);
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
}