.cart__section-text{
    text-align: center;
    font-weight: bold;
    color:#95f695;
    height:85vh;
}

.cart__products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    margin: 40px;
}
