
.BuyingForm {
  &__container {
    position: fixed;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    opacity: 0.6;
    box-shadow: 0 0 20px 10px grey;
    background: black;
    border: 5px solid #95f695;
  }

  &__field {
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px black;
    border: none;
    padding: 10px;
    font-weight: bold;

    &:focus {
      background:lightyellow;
    }
  }

  &__button {
    width: 80px;
    height: 30px;
    align-self: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
  }

  &__button:hover {
    color: white;
    font-weight: bold;
    background: #95f695;
    cursor: pointer;
  }

  &__title {
    left:60px;
    position: fixed;
    color:red;
    font-size: 20px;
  }
  &__error {
    color:red;
    font-weight:bold;
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
}

