.product-item {

  &__choose-star:hover {
    color: gold;
  }

  &__choose-star {
    font-size: 20px;
  }

  &__choose-star-gold {
    color: gold;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    color: #95f695;
  }

  &__price {
    font-weight: bold;
  }

  &-buyBtn {
    width: 120px;
    height: 30px;
    margin: 30px;
    border-radius: 10px;

    border: none;
    background-color: #95f695;
    font-weight: bold;
    color: black;
    font-size: 16px;

    transition: transform .2s ease-out;
  }

  &-remove-btn {
    margin-top: 3px;
    margin-right: 5px;
    padding: 5px;
    align-self: flex-end;
    color: red;
    border: 2px solid #95f695;
    border-radius: 5px;
  }
  &-remove-btn:hover{
    background-color: red;
    color:black;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: 2px solid white;
  }
  &-buyBtn:hover {
    color: white;
    background-color: red;
    font-size: 16px;
    cursor: pointer;
  }

  &__container {
    width: 23%;
    text-align: center;
    margin: 5px 5px 20px 5px;
    box-shadow: 2px 2px 5px 1px #5c5c5c;
    border-radius: 15px;


    &.cart{
      display: flex;
      flex-direction: column;
    }
  }

  &__container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px 3px lightgrey;

    border: none;
  }

  &__photo {
    width: 80%;
    margin: 0 auto;
    height: 200px;
  }
}
